
#include <windows.h>

#include "ColorPicker.res.h"

IDI_PICKER ICON "picker.ico"
IDI_CURSOR CURSOR "picker.cur"

IDD_COLOR_PICKER_POPUP DIALOGEX 0, 0, 174, 124
STYLE DS_SETFONT | WS_POPUP | WS_BORDER
FONT 9, TEXT("MS Shell Dlg"), 0, 0, 0x0
BEGIN
    LISTBOX         IDC_COLOR_PALETTE,1,1,172,104,
                    LBS_OWNERDRAWFIXED | LBS_NOINTEGRALHEIGHT | 
                    LBS_MULTICOLUMN | NOT WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON   "", ID_PICK, 5, 114, 16, 16, BS_ICON
    PUSHBUTTON		"...", ID_MORE, 22, 114, 16, 16
    CTEXT			"", IDC_COLOR_TEXT, 72, 118, 80, 16
END


IDD_SCREEN_PICKER_POPUP DIALOGEX 0, 0, 120, 120
STYLE DS_SETFONT | WS_POPUP | WS_BORDER
FONT 9, TEXT("MS Shell Dlg"), 0, 0, 0x0
BEGIN
    LTEXT			"HEXCOLOR", IDC_SCR_COLOR_HEX, 6, 118, 80, 16
	LTEXT			"RGBCOLOR", IDC_SCR_COLOR_RGB, 6, 118, 80, 16
END
